.box{
    width: 900px;
    background-color: black;
    border: solid 5px red;
    margin: auto;
    /* padding: 100px; */
    height: 500px;
    padding: 50px;
}
.item{
    width: 900px;
    height: 220px;
    background-color: aqua;
    margin:auto ;
    /* padding: 40px 0px; */
}

.item1{
    margin: 0px auto 20px ;
}
h1{
    background-color: black;
    color: white;
    width: 350px;
    text-align: center;
    margin:  auto ;
    padding: 30px 26px ;
    margin: 0px 0px 15px 550px;
}
.p{
    color: black;
    font-size: 25px;
    padding: 0 0 0 50px;
}